*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #000; /* Ensure background on whole page */
}

body{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* min-height: 100vh; */
}
.container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    flex-direction: column;
}
.logo h2{
    font-size: 30px;
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    font-weight: bolder;
}
.logo i{
    position: absolute;
    font-size: 30px;
    margin-top: -90px;
    margin-left: 110px;
    display: inline;
    background: linear-gradient();
}
.btn button{
    display: flex;
    padding: 10px ;
    margin: 10px;
    margin-left: -10px;
    width: 270px;
    height: 40px;
    border: 2px solid white;
    border-radius: 40px;
    align-items: center;
    padding-left: 35px;
    background-color: #000;
    color: white;
    
}
.btn .fa-google{
    background: linear-gradient(to top,  #0aac5e,#246adc, #F4B400, #DB4437);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
}
.btn .fa-facebook{
    background: linear-gradient(to left, #0c48ca, #DFE3EE, #F7F7F7, #0644a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form input{
    width: 270px;
    height: 40px;
    background-color: #000;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
}
.log1 a{
    width: 270px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(21, 244, 140);
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: none; */
}
p{
    color: white;
    position: absolute;
    margin-left: 50px;
    padding-top: 15px;
    cursor: pointer;
    text-decoration: underline;
    transition: all .60s ease;
    transition: transform 0.20s;
}
.log1 a:hover{
    background: #3fc986;
    transform: scale(1);
}

/* ------------------Demo @media ---------------------------- */

/* @media (min-width:400px) {
    .container{
        background-color: red;
    }
    .container{
        font-family: forte;
    }
}
@media (max-width:600px) {
    .container{
        color: pink;
        width: 200px;
        height: 130px;
    }
} */